name: Deploy to Render

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: npm install
      
      - name: Run tests (optional)
        run: npm test || echo "No tests configured"
      
      - name: Trigger Render Deploy
        run: |
          curl -X POST https://api.render.com/deploy/srv-d68umrg6fj8s73ca29bg?key=P6rZQl-pNLA
